# If you are using supabase, make sure the port is 5432, not 6543! If it's 6543, it causes issues!
DATABASE_URL=REPLACE_ME

GITHUB_CLIENT_ID=REPLACE_ME
GITHUB_CLIENT_SECRET=REPLACE_ME

SUPABASE_URL=REPLACE_ME
SUPABASE_KEY=REPLACE_ME
SUPABASE_PACKAGES_BUCKET=packages # Default is "packages". You need to create this bucket in Supabase!

PUBLIC_GITHUB_CLIENT_ID=
PRIVATE_GITHUB_CLIENT_SECRET=
